@font-face {
    font-family: 'Geist';
    src: url('/Geist.woff2') format('woff2');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --white: #fff;
    --gray: #878787;
    --orange: #EE5E28;
    --red: #e94040;
    --bg: #151912;
    --yellow: #f4c949;
    --sky: #66ceee;
    --green: #7dcb74;
    --blue: #3989f9;
    --purple: #a597ff;

    scroll-behavior: smooth;
}

:root, input, button, select, textarea {
    font-family: 'Geist', sans-serif;
    font-size: 18px;
}

input, button, select, textarea{
    padding: 0;
    border: none;
    margin: 0;
    background: transparent;
}

.toggle {
    flex-shrink: 0;
    --handleoffset: 1rem;
    --handleoffsetcalculator: calc(var(--handleoffset)* -1);
    --togglehandleborder: 0 0;
    height: 1rem;
    border: 2px solid var(--gray);
    width: 2rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--rounded-badge, 1.9rem);
    background-color: var(--gray);
    color: var(--gray);
    transition: background, box-shadow var(--animation-input, .2s) ease-out;
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--bg) inset, 0 0 0 2px var(--bg) inset, var(--togglehandleborder);
}
.toggle:checked {
    border: 2px solid var(--orange);
    background-image: none;
    background-color: var(--orange);
    --handleoffsetcalculator: var(--handleoffset);
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

svg {
    display: block;
    flex-shrink: 0;
}

h1,h2,h3,h4,h5,h6,strong {
    color: var(--white);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--gray);
    min-height: 100dvh;
}

.fc { display: flex; align-items: center;}
.fcol { display: flex; flex-direction: column; }
.between { display: flex; justify-content: space-between;}

.p24 { padding: 24px }
.p16 { padding: 16px }
.p12 { padding: 12px }
.p8  { padding: 8px }

.px24 { padding-inline: 24px }
.px16 { padding-inline: 16px }
.px12 { padding-inline: 12px }
.px8  { padding-inline: 18px }

.py32 { padding-block: 32px }
.py16 { padding-block: 16px }
.py12 { padding-block: 12px }
.py8  { padding-block: 18px }

.g64 { gap: 64px }
.g48 { gap: 48px }
.g24 { gap: 24px }
.g16 { gap: 16px }
.g12 { gap: 12px }
.g8 { gap: 8px }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    padding: 16px 32px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-primary {
    background-color: var(--orange);
    box-shadow: 0 0 16px 0 var(--orange);
    color: white;
}

.btn-primary:hover {
    background-color: #f27d51;
}
.btn-primary:focus {
    background-color: #f27d51;
    box-shadow: 0 0 32px 0 var(--orange);
    outline: none;
}

.grow {
    flex: 1;
}

input::placeholder {
    color: var(--gray); 
}
