@font-face {
    font-family: 'Geist';
    src: url('/Geist.woff2') format('woff2');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --white: #fff;
    --gray: #878787;
    --orange: #EE5E28;
    --red: #e94040;
    --bg: #151912;
    --yellow: #f4c949;
    --sky: #66ceee;
    --green: #7dcb74;
    --blue: #3989f9;
    --purple: #a597ff;

    scroll-behavior: smooth;
}

:root, input, button, select, textarea {
    font-family: 'Geist', sans-serif;
    font-size: 1em;
}

body, h1, h2, h3, h4, h5, h6, button, ul, p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,strong {
    color: var(--white);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--gray);
    min-height: 100vh;
}

.fc { display: flex; align-items: center;}
.fcol { display: flex; flex-direction: column; }
.between { display: flex; justify-content: space-between;}
.p16 { padding: 16px; }
.g64 { gap: 64px }
.g48 { gap: 48px }
.g16 { gap: 16px }
.g12 { gap: 12px }
.g8 { gap: 8px }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    padding: 16px 32px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.btn-primary {
    background-color: var(--orange);
    box-shadow: 0 0 16px 0 var(--orange);
    color: white;
}

.btn-primary:hover {
    background-color: #f27d51;
}
.btn-primary:focus {
    background-color: #f27d51;
    box-shadow: 0 0 32px 0 var(--orange);
    outline: none;
}

input::placeholder {
    color: var(--gray); 
    text-align: center;
}
